doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    style.
      .text-red {
        color: red;
      }
      .text-white {
        color: white;
      }
      .bg-black {
        background: black;
      }
  body
    h1.text-red.bg-black#title 123456
    .bg-black.text-white
      | 123
      br
      | 456
    script.
      document.getElementById('title')
      console.log('aaaa')